[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "~=3.8"
pandas = "~=2.1"
httpx = "~=0.25"
asyncio = "~=3.4"
pyinstaller = "*"
networkx = "*"
pygame = "*"
sympy = "*"
binance-connector = "*"

#django packages
django = "~=5.0"
djangorestframework = "~=3.14"
djangorestframework-simplejwt = "~=5.3"
django-filter = "~=23.5" 
gunicorn = "~=21.2"
celery = {version = "==5.3.6", extras = ["redis"]}
jupyterlab = "~=4.1"
ipython = "~=8.22"

[dev-packages]
pyinputplus = "*"
requests = "*"
flake8 = "*"
requests-cache = "*"
mock = "*"
beautifulsoup4 = "*"
forex-python = "*"
scikit-learn = "*"
seaborn = "*"
ccxt = "*"
#django dev-pack
drf-yasg = "~= 1.21"
ipykernel = "*"

[requires]
python_version = "3.11"
