[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "~=3.8"
pandas = "~=2.1"
httpx = "~=0.25"
asyncio = "~=3.4"
pyinstaller = "*"

[dev-packages]
pyinputplus = "*"
requests = "*"
flake8 = "*"
requests-cache = "*"
mock = "*"
beautifulsoup4 = "*"
forex-python = "*"
scikit-learn = "*"

[requires]
python_version = "3.11"
